/* Genel layout */
body {
    display: flex;
    margin: 0;
    height: 100vh;
}

.sidebar {
    position: fixed; /* Sidebar sabit kalacak */
    top: 0;
    left: 0;
    width: 250px; /* Sidebar genişliği */
    height: 100%;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Sidebar'ı üstte tutar */
}

.main-content {
    margin-left: 250px; /* Sidebar'ın genişliği kadar boşluk bırakıyoruz */
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Tablo stilleri */
.announcement-lists-table {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    overflow-x: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Tablo başlıkları */
th, td {
    padding: 12px 30px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #3f3c3c;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
    border: 1px solid #ddd;
}

td {
    background-color: #fafafa;
    font-size: 14px;
}

/* Hover efekti */
tr:hover {
    background-color: #f1f1f1;
}

/* Responsive Tasarım */
@media (max-width: 1024px) {
    .main-content {
        margin-left: 0;
        padding: 15px;
    }

    .announcement-lists-table {
        padding: 15px;
    }

    th, td {
        padding: 10px 20px;
    }

    th {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding: 10px;
    }

    .announcement-lists-table {
        padding: 10px;
    }

    th, td {
        padding: 8px 15px;
        font-size: 12px;
    }

    th {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .main-content {
        padding: 5px;
    }

    .announcement-lists-table {
        padding: 5px;
    }

    th, td {
        padding: 6px 12px;
        font-size: 10px;
    }

    th {
        font-size: 8px;
    }

    tr:hover {
        background-color: transparent;
    }
}
